.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Main {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
  background-image: url(./assets/ac-back.jpg);
  background-attachment: fixed;
  background-position: center top;
  font-family: 'Oswald', sans-serif;
  text-shadow: rgba(17, 17, 17, 0.75) 1px 1px 15px;
}

.App-Header {
  padding-top: 15vh;
}

.Header-Text {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 0.75%;
  border-radius: 2rem;
}

.App-Body {
  color: white;
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 2rem;

  top: 25vh;
  position: fixed;
  width: 50%;
  margin-left: 25%;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
